* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    
}

.cal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}
.cal-date {
    margin: 0 30px;
}
.cal-date > p {
    
}